@page "/change-password"
<h3 class="mt-2 mb-3">Change Password</h3>

<form class="bg-white px-2 py-4" @onsubmit="HandleSubmit">
    @*Displaying Error*@
    @if (_globalState.CurrentUser != null && _globalState.CurrentUser.UsingDefaultPassword == true)
    {

        <Messages Message="Your account is using default password. Please change your password" MessageType="Warning" />
    }
    @if (!string.IsNullOrEmpty(_successMessage))
    {
        <Messages Message="@_successMessage" MessageType="Success" />
    }
    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <Messages Message="@_errorMessage" MessageType="Error" />
    }
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" @bind="_currentPassword" placeholder="Type Current Password Here">
        <label for="floatingInput">Old Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" @bind="_newPassword" placeholder="Type New Password Here">
        <label for="floatingPassword">New Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" @bind="_confirmPassword" placeholder="Confirm Password Here">
        <label for="floatingPassword">Confirm Password</label>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private string _currentPassword{ get;set;}
    private string _newPassword { get; set; }
    private string _errorMessage { get; set; }
    private string _successMessage { get; set; }
    private string _confirmPassword { get; set; }

    private void HandleSubmit()
    {
        try
        {
            _errorMessage = "";
            _successMessage = "";
            _globalState.CurrentUser = UsersService.ChangePassword(_globalState.CurrentUser.Id, _currentPassword, _newPassword, _confirmPassword);
            _successMessage = "Password changed successfully.";
            _currentPassword = "";
            _newPassword = "";
            _confirmPassword = "";

        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }
    }

